<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
 
    <p>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" ngModel #fname="ngModel">
    </p>
   
    <p>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" ngModel #lName="ngModel">
    </p>
   
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" ngModel #email="ngModel">
    </p> 
   
    <p>
      <label for="gender">Geneder</label>
      <input type="radio" value="male" id="gender" name="gender" ngModel #gender="ngModel"> Male
      <input type="radio" value="female" id="gender" name="gender" ngModel #gender="ngModel"> Female
    </p>
   
    <p>
      <label for="isMarried">Married</label>
      <input type="checkbox" id="isMarried" name="isMarried" ngModel #isMarried="ngModel">
    </p>
   
    <p>
    <label for="country">country </label>
    <select name="country" id="country" ngModel #country="ngModel">
      <option selected="" value=""></option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
    </p>

    <div ngModelGroup="address">
 
      <p>
        <label for="city">City</label>
        <input type="text" name="city" ngModel>
      </p>
   
      <p>
        <label for="street">Street</label>
        <input type="text" name="street" ngModel>
      </p>
      <p>
        <label for="pincode">Pin Code</label>
        <input type="text" name="pincode" ngModel>
      </p>
   
    </div>
   
    <p>
      <button type="button" (click)="resetForm(contactForm)">Reset</button>
      <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </p>
   
  </form>